version: '3.9'

services:
  mongo:
    image: mongo:6.0
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: notes_db

  app:
    build: .
    container_name: notes-backend
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  mongo_data:
